<!--header-->

<header class="header">
    <nav class="navigation">
        <a href="#" class="logotype__link link">BREADOPS</a>
        <ul class="navigation__list list">
            <li class="navigation__item"><a href="#history" class="navigation__link link">HISTORY</a></li>
            <li class="navigation__item"><a href="#products" class="navigation__link link">PRODUCTS</a></li>
            <li class="navigation__item"><a href="#contacts" class="navigation__link link">CONTACTS</a></li>
        </ul>
    </nav>
   
</header>