.heading-hero {
    margin-top: 465px;
    margin-left: 174px;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 200;
    font-size: 43px;
    line-height: 62px;
    text-transform: uppercase;

    color: #5a210a9e;
}

.main-heading-hero {
    margin-left: 174px;
    width: 702px;
    height: 110px;

    font-family: $ff-main;
    font-style: bold;
    font-weight: 1000;
    font-size: 43px;
    line-height: 55px;
    text-transform: uppercase;

    color: #FFFEFE;
}